<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="contact">
                <p class="contact__title">
                    Contact Us
                </p>
                <div class="contact__text text">
                    Keffiyeh poutine etsy, paleo cray put a bird on it microdosing
                    <br> schlitz you probably occupy
                </div>
                <div class="contact__box">
                    <img src="./images/envelope.svg" alt="#">
                    <a href="mailto:ourmailadress@email.com" class="contact__mail text">
                        ouremailaddress@email.com
                    </a>
                </div>
                <div class="contact__form">
                    <input type="text" class="contact__form-input text" placeholder="Subscribe be email">
                    <button class="contact__form-btn text">Send</button>
                </div>
            </div>
            <div class="media">
                <ul class="media__list text">
                    <li class="media__list-item">
                        <a class="media__list-link" href="#">
                            <img src="./images/facebook.svg" alt="">
                            Facebook
                        </a>
                    </li>
                    <li class="media__list-item">
                        <a class="media__list-link" href="#">
                            <img src="./images/instagram.svg" alt="">
                            Instagram
                        </a>
                    </li>
                    <li class="media__list-item">
                        <a class="media__list-link" href="#">
                            <img src="./images/Pinterest.svg" alt="">
                            Pinterest
                        </a>
                    </li>
                    <li class="media__list-item">
                        <a class="media__list-link" href="#">
                            <img src="./images/whatsapp.svg" alt="">
                            WhatsApp
                        </a>
                    </li>
                    <li class="media__list-item">
                        <a class="media__list-link" href="#">
                            <img src="./images/youtube.svg" alt="">
                            Youtube
                        </a>
                    </li>
                </ul>
            </div>
            <div class="more">
                <ul class="more__list text">
                    <li class="more__list-item">
                        Delivery
                    </li>
                    <li class="more__list-item">
                        FAQ
                    </li>
                    <li class="more__list-item">
                        Help
                    </li>
                    <li class="more__list-item">
                        More About Us
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<div class="bottom-footer">
    <div class="container">
        <p class="text">
            674 Gonzales Drive.   Washington, PA 15301
        </p>
    </div>
</div>