<nav class="nav">
    <div class="container">
        <ul class="menu">
            <li class="menu__item">
                <a class="menu__link" href="">
                    About
                </a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="">
                    Gallery
                </a>
            </li>
            <li class="menu__item">
                <img class="main-logo" src="./images/main_logo.svg" alt="DESIRE">
            </li>
            <li class="menu__item">
                <a class="menu__link" href="">
                    Blog
                </a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="">
                    Contact
                </a>
            </li>
            <img class="menu__icon" src="./images/icon_menu.svg" alt="menu icon">
        </ul>
        
        <div class="menu__popup">
            <div class="menu__popup-btn">
                <div class="menu__popup-btn-line"></div>
                <div class="menu__popup-btn-line"></div>
            </div>
            <img class="menu__popup-logo" src="./images/main_logo.svg" alt="logo">
            <h3 class="menu__popup-title">Furniture for life</h3>
            <hr>
            <p class="menu__popup-text text">Sustainable hot chicken skateboard, dreamcatcher meggings actually squid. Slow-carb everyday carry +1 art party microdosing, put a bird on it brooklyn</p>
            <img class="menu__popup-img"  src="./images/Rectangle.png" alt="chair">
        </div>
    </div>
</nav>